body {
    margin: 50px;
    padding: 50px;
    color: #7f7467;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.8em;
    background-color: #444444;
    background-size: cover;
}

a, a:link, a:visited { color: #f3c331; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { font-family: Tahoma, Geneva, sans-serif; display:inline }
h1 { font-size: 20px; margin: 0 0 0px 0; font-weight: normal; color: #AAAAAA; }
h2 { font-size: 18px; margin: 0 0 0px 0; font-weight: normal; color: #f3c331; }
h3 { font-size: 18px; margin: 0 0 0px 0; padding: 0; font-weight: normal; color: #FFFFFF; }
h4 { font-size: 14px; margin: 0 0 0px 0; padding: 0; font-weight: normal; }
h5 { font-size: 12px; margin: 0 0 0px 0; padding: 0; font-weight: normal; }
h6 { font-size: 10px; margin: 0 0 0px 0; padding: 0; font-weight: normal; color: #999999; }

.cbox {
    width: 1000px;
    height: 500px;
    padding-top: 10px;
    padding-left: 40px;
    position: fixed;
    top: 50px;
    left: 200px;
    background-image: url(/static/images/content_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tempdiv
{
    display: table inline;
    width: auto;
    border: 1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
    position: fixed;
    background-position: center;
    position: relative;
   /* border-collapse:separate;*/
}

.divRow
{
   display:table-row;
   width:auto;
}

.lefttext
{
    float:left;/*fix for  buggy browsers*/
    text-align: right;
    display: table-column;
    color: #f3c331;
    font-size: 18px;
    width:400px;
}

.righttext
{
    float:left;/*fix for  buggy browsers*/
    text-align: right;
    display: table-column;
    color: #f3c331;
    font-size: 18px;
    width:100px;
}

.temp
{
    float:left;/*fix for  buggy browsers*/
    text-align: left;
    display:table-column;
    color: #FFFFFF;
    font-size: 18px;
    width:100px;
}

.trend
{
    float:left;/*fix for  buggy browsers*/
    text-align: left;
    display:table-column;
    color: #FFFFFF;
    font-size: 18px;
    width:100px;
}