<html>
<head>
<meta name="description" content="Environment Sensor" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gsm.css') }}?v1.11">
<script type="text/javascript">
    var pageLoader = setInterval(function(){
            $("#cbox-content").load(" #cbox-content");
        }, 60000);
    starttimer();
</script>
</head>

<body>
<div class="cbox">
<center><h2>{{ convtime(timestamp) }}</h2></center><br>
{{ lightstring }}  ({{ light2 }}/100)<br>
Darkness: {{ light }} Last Hour Avg: {{ lavg }}<br>
Current Temp: {{ temp }}&#176;F Last Hour Trend ({{ ttrend }}&#176;F)<br>
Humidity: {{ humidity }}% Last Hour Trend ({{ htrend }}%)<br>

<h2>
Last Lights on: {{ convtime(laston[0]) }}  Temp: {{ laston[2] }}&#176;F  Humidity: {{ laston[3] }}%<br>
Last Lights off: {{ convtime(lastoff[0]) }} Temp: {{ lastoff[2] }}&#176;F  Humidity: {{ lastoff[3] }}%<br>
Last Light Cycle: {{ lighthours }} Hours</h2>

<h2>Current Moon Phase: {{ currentmoon }}<br>
Next Moon Phase: {{ nextmoon[0] }} in {{ npd }} Days on {{ convdate(nextmoon[1].__str__()) }}<br>
Next Full Moon in {{ fmd }} Days on {{ convdate(moondata['Full Moon'].__str__())}}</h2>

{% if hasalarms %}
<h2>Alerts:</h2>
{% for each in alarms %}
<p><b>{{ convtime(each[0]) }}<br>Alarm Reason: {{ each[2].upper() }}<br>Value: {{ each[1] }}</b></p>
{% endfor %}
</font>
<a href="/clearalarms">Clear Alarms</a>
{% else %}
<br>
<h2>No Alerts</h2>
{% endif %}
</div>
</body>
</html>
